.header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80px;
    background-color: #8010D2;
    color: #fff;
}

.header #picProfile {
    display: inline-block;
    vertical-align: top;    
    margin: 18px 10px 0px 10px;
}

.header #picProfile img {
    display: block;
    width: 50px;
    height: 50px;    
    border-radius: 50%;
}

.header #nameProfile {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 30px;    
    margin: 25px 5px 0px 5px;    
    padding-top: 5px;    
    cursor: pointer;
}

.header .alarm {
    display: inline-block;
    vertical-align: top;
    margin: 18px 5px 0px 5px;
}

.header #logout {
    display: none;
    vertical-align: top;
    margin: 18px 5px 0px 5px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.header .title {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
    margin: 25px 15px 0px 0px;
    padding-top: 5px;
        
}
