
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/jsmember/jquery.js"></script>
    <script src="~/AudioRecorderPolyfill/index.js"></script>

</head>
<body>
    <button onclick="satrtRecord()"></button>
</body>

</html>
<script>
    function satrtRecord() {
        alert("sdf");
    }
</script>
