
@{
    Layout = null;
}

@* =============================Message======================== *@
@* Normal *@
    <script type="text/html" id="msg_normalText">
        <div id="msg%%RoomChatID" class=" your-massage px-4 py-2 ltr">
            <div class=" content">


                <div class=" name-sender-massage">
                    <span>%%SenderName</span>
                </div>
                <!-- end name-sender-massage change-->
                <!-- start dropdown change-->

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>
                        %%PermissionStudentChatEdit
                        %%PermissionStudentChatDelete
                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>



                    </div>
                </div>
                <!-- end dropdown change-->


                <div class="text-massage div-text-massage-chat">
                    %%TextChat
                </div>
                <div class=" details-massage">
                    <div class=" view">
                        <span class=" mr-2">
                            <img src="/imagemember/61-512.png"
                                 alt="view">
                        </span>
                        <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                    </div>
                    <div class=" time">%%RoomChatDate</div>
                    %%TagLearn
                   
                </div>
            </div>
        </div>
    </script>

@* Parent *@
<script type="text/html" id="msg_parentNormalText">
    <div id="msg%%RoomChatID" class=" your-massage your-massage-reply px-4 py-2 ltr">
        <div class=" content">
            <!-- start dropdown change-->




            <div class=" name-sender-massage">
                <span>%%SenderName</span>
            </div>

            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>
                    %%PermissionStudentChatEdit
                    %%PermissionStudentChatDelete
                    %%userTypeId
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>


                </div>
            </div>
           
            <!-- end dropdown change-->
            <!-- start replied change-->

            <div onclick="GoToMessage('msg%%RoomChatParentID')" class=" replied-box">
                <div class=" replied-text">
                    %%ParentTextChat
                </div>
                <div class=" reply-name">%%ParentSenderName</div>

            </div>
            <!-- end replied change-->

            <div class="text-massage div-text-massage-chat">
                %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="~/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
                <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
            </div>*@
                %%TagLearn
            </div>
        </div>
    </div>
</script>
@* NormalSelf *@
<script type="text/html" id="msg_SelfNormalText">
    <div id="msg%%RoomChatID" class=" my-massage px-4 py-2">
        <div class=" content">
            <!-- start dropdown change-->
            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                    </div>

                    %%userTypeId

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>


                </div>
            </div>
            <!-- end dropdown change-->
            <div class="text-massage div-text-massage-chat">
                %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                %%TagLearn
            </div>
        </div>
    </div>
</script>
@* ParentSelf *@
<script type="text/html" id="msg_SelfNormalParentText">
    <div id="msg%%RoomChatID" class=" my-massage my-massage-reply px-4 py-2">
        <div class=" content">
            <!-- start dropdown change-->
            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                    </div>

                    %%userTypeId
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>

                </div>
            </div>
            <!-- end dropdown change-->
            <!-- start replied change-->
            <div onclick="GoToMessage('msg%%RoomChatParentID')" class=" replied-box">
                <div class=" replied-text">
                    %%ParentTextChat
                </div>
                <div class=" reply-name">%%ParentSenderName</div>

            </div>
            <!-- end replied change-->
            <div class="text-massage div-text-massage-chat">
                %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                %%TagLearn
            </div>
        </div>
    </div>
</script>
@* ===========================EndMessage======================== *@


@* =================================================Files============================= *@

@* ===================================================Images========================== *@
@* normalImage *@
<script type="text/html" id="msg_file_img_normal">
    <div id="msg%%RoomChatID" class=" channel-massage px-4 py-2 ltr">
        <!-- در دیو زیر در بخش استایل باید طول (ویدث) عکس داده شود-->
        <div class=" content">
            <!-- start name-sender-massage change-->

            <div class=" name-sender-massage">
                <span>%%SenderName</span>
            </div>
            <!-- end name-sender-massage change-->
            <!-- start dropdown change-->

            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>
                    %%PermissionStudentChatEdit
                    %%PermissionStudentChatDelete
                    %%userTypeId
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                    </div>



                </div>
            </div>
            <!-- end dropdown change-->

            <div class=" img-content">
                <div class="div-img">
                    <a href="%%Filename" target="_blank">
                        <img class="img-fluid" src="%%Filename" />
                    </a>
                  
                </div>
            </div>
            <div class=" text-content">
                <div class=" text div-text-massage-chat">
                   %%TextChat
                </div>
                <div class=" details-massage">
                    <div class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/61-512.png"
                                 alt="view">
                        </span>
                        <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                    </div>
                    <div class=" time">%%RoomChatDate</div>
                    @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                    %%TagLearn
                </div>
            </div>
        </div>
    </div>
</script>
@* parentImage *@
<script type="text/html" id="msg_file_img_parentnormal">
    <div id="msg%%RoomChatID" class=" your-massage your-massage-reply px-4 py-2 ltr">
        <div class=" content">
            <!-- start dropdown change-->

            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>
                    %%PermissionStudentChatEdit
                    %%PermissionStudentChatDelete
                    %%userTypeId

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                    </div>


                </div>
            </div>
            <!-- end dropdown change-->
            <!-- start replied change-->

            <div class=" name-sender-massage">
                <span>%%SenderName</span>
            </div>
            <div onclick="GoToMessage('msg%%.RoomChatParentID')" class=" replied-box mb-2 ">
                <div class=" replied-text">
                   %%ParentTextChat
                </div>
                <div class=" reply-name">%%ParentSenderName</div>

            </div>

            <!-- end replied change-->
            <div class=" img-content">
                <div class="div-img">
                    <a href="%%Filename" target="_blank">
                        <img class="img-fluid" src="%%Filename" />
                    </a>
                </div>
            </div>
            <div class="text-massage div-text-massage-chat">
               %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="~/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                %%TagLearn
            </div>
        </div>
    </div>
</script>
@* selfImage *@
<script type="text/html" id="msg_file_img_self">
    <div id="msg%%RoomChatID" class=" my-massage px-4 py-2">
        <div class=" content">
            <!-- start dropdown change-->

            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                    </div>

                    %%userTypeId

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                    </div>


                </div>
            </div>
            <!-- end dropdown -->
            @*<div class=" name-sender-massage">
                    <span>علی کریمی</span>
                </div>*@
            <div class=" img-content">
                <div class="div-img">
                    <a href="%%Filename" target="_blank">
                        <img class="img-fluid" src="%%Filename" />
                    </a>
                </div>
            </div>

            <div class="text-massage div-text-massage-chat">
                %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
                        <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
                    </div>*@
               %%TagLearn
            </div>
        </div>
    </div>
</script>
@* selfparenimage *@
<script type="text/html" id="msg_file_img_selfparent">
    <div id="msg%%RoomChatID" class=" my-massage my-massage-reply px-4 py-2">
        <div class=" content">
            <!-- start dropdown change-->
            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                    </div>

                    %%userTypeId

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                    </div>


                </div>
            </div>
            <!-- end dropdown change-->
            <!-- start replied change-->
            @*<div class=" name-sender-massage">
                    <span>علی کریمی</span>
                </div>*@
            <div onclick="GoToMessage('msg%%RoomChatParentID')" class=" replied-box mb-1">
                <div class=" replied-text">
                   %%ParentTextChat
                </div>
                <div class=" reply-name">%%ParentSenderName</div>

            </div>
            <div class=" img-content">
                <div class="div-img">
                    <a href="%%Filename" target="_blank">
                        <img class="img-fluid" src="%%Filename" />
                    </a>
                </div>
            </div>
            <!-- end replied change-->
            <div class="text-massage div-text-massage-chat">
               %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="~/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
                        <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
                    </div>*@
               %%TagLearn
            </div>
        </div>
    </div>
</script>

    @* ===================================================EndImages========================== *@


    @* ====================================================Video=================================== *@
    @* normalVideo *@
    <script type="text/html" id="msg_file_video_normal">
        <div class=" channel-massage px-4 py-2 ltr" id="msg%%RoomChatID">
            <!-- در دیو زیر در بخش استایل باید طول (ویدث) عکس داده شود-->
            <div class=" content" style="width: 640px;">
                <!-- start name-sender-massage change-->

                <div class=" name-sender-massage">
                    <span>%%SenderName</span>
                </div>
                <!-- end name-sender-massage change-->
                <!-- start dropdown change-->

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>
                        %%PermissionStudentChatEdit
                        %%PermissionStudentChatDelete
                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>


                    </div>
                </div>
                <!-- end dropdown change-->


                <div class=" img-content">
                    <div class=" div-movie">
                        <!-- start change6 -->
                        <video onplay="RoomChatPlayVoiceUpdate('%%RoomChatID')" controls><source src="%%Filename" type="%%MimeType"></video>

                        @*<video src="../VID_20180202_104405.mp4" controls></video>*@
                        <!-- end change6 -->
                        <!-- <img src="../img/unnamed.png" alt="user-img-sent" class=" img-fluid"> -->
                        @*<a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i></a>*@
                    </div>
                </div>
                <div class=" text-content div-text-massage-chat">
                    <div class=" text">
                        %%TextChat
                    </div>
                    <div class=" details-massage">
                        <div class=" view">
                            <span class=" mr-2">
                                <img src="~/imagemember/61-512.png"
                                     alt="view">
                            </span>
                            <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                        </div>
                        <div class=" time">%%RoomChatDate</div>
                        @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                        %%TagLearn

                        <div id="playVoiceBullet('%%RoomChatID')" class=" view">
                            <span class=" mr-2">
                                <img src="~/imagemember/circle.png"
                                     alt="view">
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    @* parentvideo *@
    <script type="text/html" id="msg_file_video_parentnormal">
        <div id="msg%%RoomChatID" class=" your-massage your-massage-reply px-4 py-2 ltr">
            <div class=" content">

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>
                        %%PermissionStudentChatEdit
                        %%PermissionStudentChatDelete
                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>


                    </div>
                </div>
                <!-- end dropdown change-->
                <!-- start replied change-->

                <div class=" name-sender-massage">
                    <span>%%SenderName</span>
                </div>
                <div onclick="GoToMessage('msg%%RoomChatParentID')" class=" replied-box mb-2 ">
                    <div class=" replied-text">
                        %%ParentTextChat
                    </div>
                    <div class=" reply-name">%%ParentSenderName</div>

                </div>
                <!-- end replied change-->
                <div class=" img-content">
                    <div class=" div-movie">
                        <!-- start change6 -->
                        <video onplay="RoomChatPlayVoiceUpdate('%%RoomChatID')" controls><source src="%%Filename" type="%%MimeType"></video>
                        <!-- end change6 -->
                    </div>
                </div>
                <div class="text-massage div-text-massage-chat">
                    %%TextChat
                </div>
                <div class=" details-massage">
                    <div class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/61-512.png"
                                 alt="view">
                        </span>
                        <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                    </div>
                    <div class=" time">%%RoomChatDate</div>
                    @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                    %%TagLearn
                    <div id="playVoiceBullet('%%RoomChatID')" class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/circle.png"
                                 alt="view">
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </script>
    @* SelfVideo *@
    <script type="text/html" id="msg_file_video_self">
        <div id="msg%%RoomChatID" class=" my-massage px-4 py-2">
            <div class=" content">
                <!-- start dropdown change-->

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>

                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                        </div>

                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                        </div>

                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>


                    </div>
                </div>

                <div class=" img-content">
                    <div class=" div-movie">
                        <!-- start change6 -->
                        <video onplay="RoomChatPlayVoiceUpdate('%%RoomChatID')" controls><source src="%%Filename" type="%%MimeType"></video>
                        <!-- end change6 -->
                    </div>
                </div>

                <div class="text-massage div-text-massage-chat">
                    %%TextChat
                </div>
                <div class=" details-massage">
                    <div class=" view">
                        <span class=" mr-2">
                            <img src="/imagemember/61-512.png"
                                 alt="view">
                        </span>
                        <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                    </div>
                    <div class=" time">%%RoomChatDate</div>
                    @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                    %%TagLearn

                    <div id="playVoiceBullet('%%RoomChatID')" class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/circle.png"
                                 alt="view">
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </script>
@* selfParentVideo *@
<script type="text/html" id="msg_file_video_selfparent">
    <div id="msg%%RoomChatID" class=" my-massage my-massage-reply px-4 py-2">
        <div class=" content">
            <!-- start dropdown change-->

            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                    </div>

                    %%userTypeId
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                    </div>

                </div>
            </div>
            <!-- end dropdown -->
            @*<div class=" name-sender-massage">
                    <span>علی کریمی</span>
                </div>*@
            <div onclick="GoToMessage('msg%%RoomChatParentID')" class=" replied-box  mb-2">
                <div class=" replied-text">
              %%ParentTextChat
                </div>
                <div class=" reply-name">%%ParentSenderName</div>

            </div>
            <div class=" img-content">
                <div class=" div-movie">
                    <!-- start change6 -->
                    <video onplay="RoomChatPlayVoiceUpdate('%%RoomChatID')" controls><source src="%%Filename" type="%%MimeType"></video>
                    <!-- end change6 -->
                </div>
            </div>

            <div class="text-massage div-text-massage-chat">
                %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                %%TagLearn

                <div id="playVoiceBullet('%%RoomChatID')" class=" view">
                    <span class=" mr-2">
                        <img src="~/imagemember/circle.png"
                             alt="view">
                    </span>

                </div>

            </div>
        </div>
    </div>
</script>
    @* ======================================================EndVideo================================== *@



    @* ====================================================Audio=========================== *@
    @* normalAudio *@
    <script type="text/html" id="msg_file_audio_normal">
        <div id="msg%%RoomChatID" class=" your-massage-voice px-4 py-2 ltr">
            <div class=" content">
                <!-- start name-sender-massage change-->

                <div class=" name-sender-massage">
                    <span>%%SenderName</span>
                </div>
                <!-- end name-sender-massage -->
                <!-- start dropdown change-->

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>
                        %%PermissionStudentChatEdit
                        %%PermissionStudentChatDelete
                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>


                    </div>
                </div>
                <!-- end dropdown -->
                @*<div class=" right">
                        <div class=" img-pro mx-2 d-flex align-items-center">
                            <img src="~/imagemember/ali_200.jpg" alt="" class=" img-fluid">
                        </div>

                    </div>*@
                <div class=" left">
                    <div class="div-voice-massage">
                        <!-- start change6 -->
                        <div class="voice-massage">
                            <audio onplay="RoomChatPlayVoiceUpdate('%%RoomChatID')" controls><source src="%%Filename" type="%%MimeType"></audio>
                            @*<audio src="../Behnam Bani - Ghorse Ghamar 2 (320).mp3"
                                controls></audio>*@
                        </div>
                        <!-- end change6 -->

                    </div>
                    <div class=" text-content div-text-massage-chat">
                        <div class=" text">
                            %%TextChat
                        </div>
                        <div class=" details-massage">
                            <div class=" view">
                                <span class=" mr-2">
                                    <img src="~/imagemember/61-512.png"
                                         alt="view">
                                </span>
                                <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                            </div>
                            <div class=" time">%%RoomChatDate</div>
                            @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                            %%TagLearn

                            <div id="playVoiceBullet('%%RoomChatID')" class=" view">
                                <span class=" mr-2">
                                    <img src="~/imagemember/circle.png"
                                         alt="view">
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    @* parentAudio *@
    <script type="text/html" id="msg_file_audio_parentnormal">
        <div id="msg%%RoomChatID" class="your-massage your-massage-reply your-massage-voice px-4 py-2 ltr">
            <div class=" content">
                <!-- start name-sender-massage change-->

                <div class=" name-sender-massage">
                    <span>%%SenderName</span>
                </div>
                <!-- end name-sender-massage -->
                <!-- start dropdown change-->

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>
                        %%PermissionStudentChatEdit
                        %%PermissionStudentChatDelete
                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>


                    </div>
                </div>
                <!-- end dropdown -->
                <div onclick="GoToMessage('msg%%RoomChatParentID')" class=" replied-box mt-3">
                    <div class=" replied-text">
                        %%ParentTextChat
                    </div>
                    <div class=" reply-name">%%ParentSenderName</div>

                </div>

                <div class=" left">
                    <div class="div-voice-massage">
                        <!-- start change6 -->
                        <div class="voice-massage">
                            <audio onplay="RoomChatPlayVoiceUpdate('%%RoomChatID')" controls><source src="%%Filename" type="%%MimeType"></audio>
                        </div>
                        <!-- end change6 -->

                    </div>
                    <div class=" text-content">
                        <div class=" text div-text-massage-chat">
                            %%TextChat
                        </div>
                        <div class=" details-massage">
                            <div class=" view">
                                <span class=" mr-2">
                                    <img src="~/imagemember/61-512.png"
                                         alt="view">
                                </span>
                                <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                            </div>
                            <div class=" time">%%RoomChatDate</div>
                            @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                            %%TagLearn
                            <div id="playVoiceBullet('%%RoomChatID')" class=" view">
                                <span class=" mr-2">
                                    <img src="~/imagemember/circle.png"
                                         alt="view">
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    @* selfAudio *@
    <script type="text/html" id="msg_file_audio_self">
        <div id="msg%%RoomChatID" class=" my-massage px-4 py-2">
            <div class=" content">
                <!-- start dropdown change-->
                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>

                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                        </div>

                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                        </div>
                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>


                    </div>
                </div>
                <!-- end dropdown change-->
                <div class=" left ">
                    <div class="div-voice-massage">
                        <!-- start change6 -->
                        <div class="voice-massage">
                            <audio onplay="RoomChatPlayVoiceUpdate('%%RoomChatID')" controls><source src="%%Filename" type="%%MimeType"></audio>
                        </div>
                        <!-- end change6 -->
                    </div>
                </div>
                <div class="text-massage div-text-massage-chat">
                    %%TextChat
                </div>
                <div class=" details-massage">
                    <div class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/61-512.png"
                                 alt="view">
                        </span>
                        <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                    </div>
                    <div class=" time">%%RoomChatDate</div>
                    @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                    %%TagLearn

                    <div id="playVoiceBullet('%%RoomChatID')" class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/circle.png"
                                 alt="view">
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </script>
@* selfparentAudio *@
<script type="text/html" id="msg_file_audio_selfparent">
    <div id="msg%%RoomChatID" class=" my-massage my-massage-reply px-4 py-2">
        <div class=" content">
            <!-- start dropdown change-->
            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                    </div>

                    %%userTypeId
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                    </div>


                </div>
            </div>
            <!-- end dropdown change-->
            @*<div class=" name-sender-massage">
                    <span>علی کریمی</span>
                </div>*@
            <div class=" replied-box mb-2">
                <div class=" replied-text">
                   %%ParentTextChat
                </div>
                <div class=" reply-name">%%ParentSenderName</div>

            </div>
            <div class=" left">
                <div class="div-voice-massage">
                    <!-- start change6 -->
                    <div class="voice-massage">
                        <audio onplay="RoomChatPlayVoiceUpdate('%%RoomChatID')" controls><source src="%%Filename" type="%%MimeType"></audio>
                    </div>
                    <!-- end change6 -->
                </div>

            </div>

            <div class="text-massage div-text-massage-chat">
              %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
        </div>*@
                %%TagLearn

                <div id="playVoiceBullet('%%RoomChatID')" class=" view">
                    <span class=" mr-2">
                        <img src="~/imagemember/circle.png"
                             alt="view">
                    </span>

                </div>
            </div>

        </div>
    </div>
</script>
    @* ==================================================EndAudio============================= *@



    @* ====================================================file================================ *@
    @* normalfile *@
    <script type="text/html" id="msg_file_normal">
        <div id="msg%%RoomChatID" class=" your-massage px-4 py-2 ltr">
            <div class=" content">
                <!-- start dropdown change-->

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>
                        %%PermissionStudentChatEdit
                        %%PermissionStudentChatDelete
                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>


                    </div>
                </div>
                <!-- end dropdown change-->
                <!-- start replied change-->

                <div class=" name-sender-massage">
                    <span>%%SenderName</span>
                </div>

                <!-- end replied change-->
                <div class=" file-content mb-2">
                    <a href="%%Filename" class="div-file ">
                        <div class=" download-icon">
                            <div><img src="/imagemember/download.svg" alt=""></div>
                        </div>
                        <div class=" d-flex align-items-center h-100">
                            <div class="progdon-namefile">
                                <div class="nameFile-icon"><span>%%FileTitle</span></div>
                                @*<div class="download-progress">57%</div>*@
                            </div>
                            <div class=" file-icon">
                                <div><img src="/imagemember/document.svg" alt=""></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="text-massage div-text-massage-chat">
                    %%TextChat
                </div>
                <div class=" details-massage">
                    <div class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/61-512.png"
                                 alt="view">
                        </span>
                        <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                    </div>
                    <div class=" time">%%RoomChatDate</div>
                    @*<div class=" seen">
                            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
                        </div>*@
                    %%TagLearn
                </div>
            </div>
        </div>
    </script>
    @* parenfile *@
    <script type="text/html" id="msg_file_parentnormal">
        <div id="msg%%RoomChatID" class=" your-massage your-massage-reply px-4 py-2 ltr">
            <div class=" content">
                <!-- start dropdown change-->

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>
                        %%PermissionStudentChatEdit
                        %%PermissionStudentChatDelete
                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>


                    </div>
                </div>
                <!-- end dropdown change-->
                <!-- start replied change-->

                <div class=" name-sender-massage">
                    <span>%%SenderName</span>
                </div>
                <div onclick="GoToMessage('msg%%RoomChatParentID')" class=" replied-box mb-1 ">
                    <div class=" replied-text">
                        %%ParentTextChat
                    </div>
                    <div class=" reply-name">%%ParentSenderName</div>

                </div>
                <!-- end replied change-->
                <div class=" file-content">
                    <a href="%%Filename" class="div-file ">
                        <div class=" download-icon">
                            <div><img src="/imagemember/download.svg" alt=""></div>
                        </div>
                        <div class=" d-flex align-items-center h-100">
                            <div class="progdon-namefile">
                                <div class="nameFile-icon"><span>%%FileTitle</span></div>
                                @*<div class="download-progress">57%</div>*@
                            </div>
                            <div class=" file-icon">
                                <div><img src="/imagemember/document.svg" alt=""></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="text-massage mt-2 div-text-massage-chat">
                    %%TextChat
                </div>
                <div class=" details-massage">
                    <div class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/61-512.png"
                                 alt="view">
                        </span>
                        <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                    </div>
                    <div class=" time">%%RoomChatDate</div>
                    @*<div class=" seen">
                            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
                        </div>*@
                    %%TagLearn
                </div>
            </div>
        </div>
    </script>
    @* selffile *@
    <script type="text/html" id="msg_file_self">
        <div id="msg%%RoomChatID" class=" my-massage px-4 py-2">
            <div class=" content">
                <!-- start dropdown change-->

                <div class="dropdown div-option-massage">
                    <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu option-massage p-0"
                         aria-labelledby="dropdownMenuButton">
                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                        </div>

                        <div class=" dropdown-item p-0">
                            <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                        </div>

                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                        </div>

                        %%userTypeId
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                        </div>
                        <div class=" dropdown-item p-0">
                            <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                        </div>

                    </div>
                </div>
                <!-- end dropdown -->

                <div class=" file-content mb-2">
                    <a href="%%Filename" class="div-file ">
                        <div class=" download-icon">
                            <div><img src="/imagemember/download.svg" alt=""></div>
                        </div>
                        <div class=" d-flex align-items-center h-100">
                            <div class="progdon-namefile">
                                <div class="nameFile-icon"><span>%%FileTitle</span></div>
                                @*<div class="download-progress">57%</div>*@
                            </div>
                            <div class=" file-icon">
                                <div><img src="imagemember/document.svg" alt=""></div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="text-massage div-text-massage-chat">
                    %%TextChat
                </div>
                <div class=" details-massage">
                    <div class=" view">
                        <span class=" mr-2">
                            <img src="~/imagemember/61-512.png"
                                 alt="view">
                        </span>
                        <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                    </div>
                    <div class=" time">%%RoomChatDate</div>
                    @*<div class=" seen">
                            <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
                        </div>*@
                    %%TagLearn
                </div>
            </div>
        </div>
    </script>
@* seldparentfile *@
<script type="text/html" id="msg_file_selfparent">
    <div id="msg%%RoomChatID" class=" my-massage my-massage-reply px-4 py-2">
        <div class=" content">
            <!-- start dropdown change-->

            <div class="dropdown div-option-massage">
                <button class="btn shadow-none dropdown-toggle pb-2 pl-2 p-0 " type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu option-massage p-0"
                     aria-labelledby="dropdownMenuButton">
                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatReply('%%RoomChatID',false,'%%SenderName')" type="button">پاسخ</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button onclick="RoomChatEdit('%%RoomChatID','%%SenderName')" type="button">ویرایش</button>
                    </div>

                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDelete('%%RoomChatID')">حذف</button>
                    </div>
                    %%userTypeId
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatForward('%%RoomChatID')">ارسال</button>
                    </div>
                    <div class=" dropdown-item p-0">
                        <button type="button" onclick="RoomChatDownload('%%Filename')">دانلود</button>
                    </div>


                </div>
            </div>
            <!-- end dropdown -->
            <div onclick="GoToMessage('msg%%RoomChatParentID')" class=" replied-box mb-1">
                <div class=" replied-text">
                   %%ParentTextChat
                </div>
                <div class=" reply-name">%%ParentSenderName</div>

            </div>
            <div class=" file-content">
                <a href="%%Filename" class="div-file ">
                    <div class=" download-icon">
                        <div><img src="/imagemember/download.svg" alt=""></div>
                    </div>
                    <div class=" d-flex align-items-center h-100">
                        <div class="progdon-namefile">
                            <div class="nameFile-icon"><span>%%FileTitle</span></div>
                            @*<div class="download-progress">57%</div>*@
                        </div>
                        <div class=" file-icon">
                            <div><img src="/imagemember/document.svg" alt=""></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="text-massage div-text-massage-chat">
               %%TextChat
            </div>
            <div class=" details-massage">
                <div class=" view">
                    <span class=" mr-2">
                        <img src="~/imagemember/61-512.png"
                             alt="view">
                    </span>
                    <span class=" mr-1">%%RoomChatViewNumber</span>@*<span>k</span>*@
                </div>
                <div class=" time">%%RoomChatDate</div>
                @*<div class=" seen">
                        <span><img src="~/imagemember/dou-tick.svg" alt="seen"></span>
                    </div>*@
              %%TagLearn
            </div>
        </div>
    </div>
</script>
    @* ====================================================Endfile==================================== *@
