
@{
    Layout = "_LayoutMember";
}

@section Scripts
{
    <script src="~/jsmember/Chat.js"></script>
}

<form id="chatForm">
    <div class="col-md-8">
        <input id="messageTextBox" class="form-control" type="text" placeholder="Type a Message"/>
        <input id="messageTextBox2" class="form-control" type="text" placeholder="Type a Group"/>
    </div>
    <div class="col-md-2">
        <input type="submit" class="btn btn-success" value="Send"/>
    </div>
</form>