
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/jsuser/jquery.js"></script>
    <script src="~/jsuser/TestScript.js"></script>
</head>
<body>
<input type="file" id="file" onchange="fileUpload()" />
<span id="txtLoading"></span>
</body>
</html>
