@model IEnumerable<Es.DataLayerCore.Model.GalleryDetail>

@{
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}




<div class="bigbox displayBlock textAlignRight">
    <input class="buttonSingle buttonSingle4 displayInlineBlock colorBackGreen" style="width :200px; float: left" value=" &#43; جدید" onclick="newGalleryDetailPicShow(@ViewData["GalleryId"])" />
</div>

<div class="bigbox displayBlock textAlignCenter colorBackWhite" style="overflow-x: auto; padding: 10px;">
    <table cellspacing="0" class="grid">
        <tr>


            <th>عنوان</th>
            <th>پیش فرض</th>
            <th>عملیات</th>
        </tr>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>



                <td>@Html.Raw(item.GalleryDetailName)</td>
                <td>
                    @if (item.GalleryIsDefault)
                    {
                        <span> بله </span>
                    }
                    else
                    {
                        <span> خیر </span>
                    }

                </td>
                <td>

                    <a class="operate" href="#" title="حذف">
                        <img class="icon" src="/imagepanel/icons/delete.png" onclick="gallerydetaildelete(@item.GalleryDetailId)" />
                    </a>
                </td>
            </tr>

            i++;
        }

    </table>
    <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewData["returnUrl"]" />

</div>



