@{ 

}

<div class="slidemenu displayInlineBlock positionAbsolute colorBackPrimary">
    <ul id="smenu">
        <li>
            <div class="buttonmenuPanel">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </li>

        <li><a href="/Panel/Student"><img src="/imagepanel/icons/people.png" /><span>کاربران</span></a></li>
        <li><a href="/Panel/Course"><img src="/imagepanel/icons/lesson.png" /><span>درس ها</span></a></li>
        <li><a href="/Panel/Holiday"><img src="/imagepanel/icons/holiday.png" /><span>تعطیلی ها</span></a></li>
        <li><a href="/Panel/Room"><img src="/imagepanel/icons/teaching.png" /><span>کلاس ها</span></a></li>
        <li><a href="/Panel/ReportCard"><img src="/imagepanel/icons/report.png" /><span>کارنامه</span></a></li>
        <li><a href="/Panel/PreRegistration"><img src="/imagepanel/icons/registration.png" /><span>پیش ثبت نام</span></a></li>
        <li><a href="/Panel/Gallery"><img src="/imagepanel/icons/image-gallery.png" /><span>گالری</span></a></li>
        <li><a href="/Panel/Statis"><img src="/imagepanel/icons/analytics.png" /><span>آمار</span></a></li>
        <li><a href="/Panel/Article"><img src="/imagepanel/icons/newspaper.png" /><span>اخبار</span></a></li>
        <li><a href="/Panel/Introduction"><img src="/imagepanel/icons/professor.png" /><span>معرفی اساتید</span></a></li>
        <li><a href="/Panel/Ceremony"><img src="/imagepanel/icons/professor.png" /><span>بنر</span></a></li>

    </ul>
</div>