

@{
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";


}

<div class="bigbox colorBackWhite colorBorderGray">
    <form class="form textAlignCenter">

        <div id="diverrors" class="errors textAlignRight">
            <img src="/imagesite/icons/error.png" />
            <p id="errormsg"></p>
            <input type="text" id="focusable" />
        </div>

        <p id="formTitle" class="titr textAlignRight">آیا از حذف موارد انتخاب شده مطمئن هستید؟</p>

        <div class="step opacityOne" id="step1">


            <input type="hidden" id="ids" value="@ViewData["ids"]" />
            <input type="hidden" id="returnUrl" value="@ViewData["returnUrl"]" />

            <div class="row rowInline textAlignLeft">

                <input type="button" class="buttonSingle buttonSingle3 colorBackRed" value="حذف شوند" onclick="studentFinancialdeleted();" />

                <input type="button" class="buttonSingle buttonSingle3 colorBackBlue2" value="برگشت" onclick="cancelCh()" />
            </div>

        </div>
    </form>
</div>



