@{
    bool showCurrentPass = Convert.ToBoolean(ViewData["showCurrentPass"]);
    var action = showCurrentPass == true ? "ChangePass" : "ChangePassword";
    if(action == "ChangePass")
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
}

<form class="form textAlignCenter" method="post" action="@action">

    <p id="formTitle" class="titr textAlignRight">@ViewData["Title"]</p>

    <div id="diverrors" class="errors textAlignRight">
        <img src="/imagesite/icons/error.png" />
        <p id="errormsg"></p>
    </div>

    @await Html.PartialAsync("Message")

    <div class="colart displayInlineBlock">

        @if(showCurrentPass)
        {
            <div class="row positionRelative">
                <label class="lbl">کلمه عبور فعلی</label>
                <input id="chPwdPasswordCurrent" name="chPwdPasswordCurrent" class="chPreviousColor textAlignLeft directionLtr" type="password" />
                <img class="searchIRNational positionAbsolute" src="~/imagesite/login/eye.png" onclick="shPwd('chPwdPassword');" />
            </div>
        }

        <div class="row positionRelative">
            <label class="lbl">کلمه عبور</label>
            <input id="chPwdPassword" name="chPwdPassword" class="chPreviousColor textAlignLeft directionLtr" type="password" />
            <img class="searchIRNational positionAbsolute" src="~/imagesite/login/eye.png" onclick="shPwd('chPwdPassword');" />
        </div>
        <div class="row positionRelative">
            <label class="lbl">تکرار کلمه عبور</label>
            <input id="chPwdPassword2" name="chPwdPassword2" class="chPreviousColor textAlignLeft directionLtr" type="password" />
            <img class="searchIRNational positionAbsolute" src="~/imagesite/login/eye.png" onclick="shPwd('chPwdPassword2');" />
        </div>

        @if(!showCurrentPass)
        {
            <input type="hidden" name="token" value="@ViewData["token"]" />
            <input type="hidden" name="id" value="@ViewData["id"]" />
        }

        <div class="row textAlignCenter">
            <input type="button" class="buttonSingle buttonSingle2 colorBackSeconday" value="کلمه عبور بازنشانی شود" onclick="chpwd();" />
        </div>

    </div>

    <div class="colart displayInlineBlock">
        <img src="~/imagesite/login/forgotpassword.png" class="picart" />
    </div>

</form>
