@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

@await Html.PartialAsync("Message")

<form class="form textAlignCenter" method="post">

    <p id="formTitle" class="titr textAlignRight">@ViewData["Title"]</p>

    <div id="diverrors" class="errors textAlignRight">
        <img src="/imagesite/icons/error.png" />
        <p id="errormsg"></p>
    </div>



    <div class="colart displayInlineBlock">
        <div class="row">
            <label class="lbl">کد ملی</label>
            <input id="forgetPwdIRNational" name="forgetPwdIRNational" class="chPreviousColor textAlignLeft directionLtr" type="text" value="@ViewData["irnational"]" />
        </div>

        <div class="row">
            <label class="lbl">شماره همراه</label>
            <input id="forgetPwdMobileNumber" name="forgetPwdMobileNumber" class="chPreviousColor textAlignLeft directionLtr" type="text" value="@ViewData["mobilenumber"]" />
        </div>

        <div class="row textAlignCenter">
            <input type="button" class="buttonSingle buttonSingle2 colorBackSeconday" value="بازیابی کلمه عبور" onclick="forgetPwd();" />
        </div>

    </div>

    <div class="colart displayInlineBlock">
        <img src="~/imagesite/login/forgotpassword.png" class="picart" />
    </div>

</form>

