@model Es.DataLayerCore.DTOs.ReportCard.ReportCardParentViewModel
@{
    ViewBag.Title = "مدرسه حسابی";

    Layout = "_LayoutMember";

}



<section class=" Chat-page table-plan table-plan-lesson planAlllessons TeacherCardReport1">
    <div class="  p-0 chat">
        @await Html.PartialAsync("Header")
        <div class="selectLesson ">
            <div>
                @if (Model.ReportCardParentStudentShowResult.Count() > 1)
                {
                    <select class="custom-select" id="validationCustom04" required on onchange="ReportCardParentDetailShow(this)">
                        <option selected disabled value="">انتخاب کنید...</option>
                        @foreach (var student in Model.ReportCardParentStudentShowResult)
                        {
                            <option value="@student.UserID">@Html.Raw(student.FullName)</option>
                        }
                    </select>

                }
                else
                {
                    <br />
                    <span>@ViewBag.UserFullName</span>
                }



            </div>
        </div>
        <div id="div-reportCardParentDetail" class=" table-div m-3">
            @await Html.PartialAsync("ReportCardParentDetailShow", Model.ReportCardStudentShowResult)
        </div>
    </div>
</section>
@section Scripts
{

    <script src="/jsmember/ReportCard-1.0.3.js"></script>

}

