@model IEnumerable<User>

@{ 

}

<div class="bigbox colorBackWhite colorBorderGray">
    <form class="form textAlignCenter">

        <div id="diverrors" class="errors textAlignRight">
            <img src="/imagesite/icons/error.png" />
            <p id="errormsg"></p>
            <input type="text" id="focusable" />
        </div>

        <p id="formTitle" class="titr textAlignRight">تغییر کلمه عبور کاربران</p>

        <div class="step opacityOne" id="step1">
            @foreach (var user in Model)
            {
                <div class="row rowInline">
                    <label class="lbl">@Html.Raw(user.FirstName) @Html.Raw(user.LastName)</label>
                    <input id="@user.UserId" class="chPreviousColor textAlignLeft directionLtr" type="text"  />
                </div>
            }

            <input type="hidden" id="returnUrl" value="@ViewData["returnUrl"]" />

            <div class="row rowInline textAlignLeft">
                <input type="button" class="buttonSingle buttonSingle3 colorBackSeconday" value="تغییر یابد" onclick="upwded()" />
                <input type="button" class="buttonSingle buttonSingle3 colorBackThirty" value="برگشت" onclick="cancelCh()" />
            </div>

        </div>
    </form>
</div>