<div class=" header">
    <div onclick="openCart()" class="menu-open-cart"><img src="/imagemember/menu.svg" alt=""></div>
    <div class=" name-header">
        حسابی
    </div>
    <div class=" icons d-flex align-items-center">
        <div class=" mx-2"><img src="/imagemember/155-1554499_kudos-back-white-icon-png.png" onclick="goBack('@ViewBag.returnUrl')" alt=""></div>
    </div>
</div>
