<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>مدرسه دکتر حسابی کاشان-@ViewBag.Title</title>


    
    @RenderSection("StylesSlick", required: false)
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/cssmember/bootstrap.min.css">
    <link rel="stylesheet" href="/cssmember/Home-1.4.0.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />

</head>
<body>



  








    @RenderBody()
    <div class=" img-above-footer"> <img src="~/imagemember/Path 229@2x.png" class=" img-fluid" alt=""></div>

    <footer id="mainfooter" class="login-footer">
        <div class=" container-fluid">
            <!-- start change12 -->
            <div class=" row mx-0 content">
                <div class=" col-lg-6 details">
                    <div class="title"><span>آدرس مدرسه شعبه یک</span></div>
                    <ul class=" mt-3">
                        <li>
                            <div>
                                <div class="location"><img src="~/imagemember/Group 5@2x.png" alt=""></div>
                                <div class=" mr-3 my-2">
                                    <span>آدرس:</span><span>
                                        خیابان ایت الله یثربی، کوی کوثر سی،
                                        مجتمع دکتر حسابی
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="mobile"><img src="~/imagemember/787@2x.png" alt=""></div>
                                <div class=" mr-3 my-2">
                                    <span>پیش دبستان و دبستان:</span><span>
                                        55246669 -
                                        55246668
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="mobile"><img src="~/imagemember/787@2x.png" alt=""></div>
                                <div class=" mr-3 my-2">
                                    <span>متوسطه اول:</span><span>55235957 - 55245910</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="mobile"><img src="~/imagemember/787@2x.png" alt=""></div>
                                <div class=" mr-3 my-2">
                                    <span>متوسطه دوم:</span><span>55235954 - 55238682</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="telnumber"><img src="~/imagemember/78@2x.png" alt=""></div>
                                <div class=" mr-3 my-2"><span>شماره پیامک:</span><span>500013335954</span></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="email"><img src="~/imagemember/Group 26@2x.png" alt=""></div>
                                <div class=" mr-3 my-2"><span>ایمیل:</span><span>drhesabi88@gmail.com</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class=" col-lg-6 share-news">
                    <div class="google-map-directoin">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="500" height="250" id="gmap_canvas"
                                        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3308.2968836161185!2d51.468090617662334!3d33.98490733688907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e2!4m0!4m5!1s0x3f96845445993377%3A0x2d32b9d068dc90b0!2zMXN0IEhlZGF5YXTYjCBLYXNoYW4gLSDaqdin2LTYp9mG2IwgSXJhbg!3m2!1d33.9850403!2d51.4695152!5e0!3m2!1sen!2s!4v1624461200228!5m2!1sen!2s"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embed google map</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-8 copy-right">
                    <hr />
                    <div class=" d-flex justify-content-between p-2">
                        <div>کلیه حقوق این سایت به مدرسه تعلق دارد</div>
                        <div>Copyright © 2020 School Site</div>
                    </div>
                </div>
                <div class=" col-lg-4 social-media">
                    <div>ما را در شبکه های اجتماعی دنبال کنید</div>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/imagemember/youtube@2x.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/imagemember/facebook@2x.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/imagemember/instagram-sketched@2x.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/imagemember/linkedin@2x.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/imagemember/twitter@2x.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end change12 -->
        </div>
    </footer>


    <script src="/jsmember/jquery.js"></script>
    <script src="~/jsmember/jquery.browser.min.js"></script>
    <script src="~/jsmember/YeKe.js"></script>
    <script src="/jsmember/bootstrap.bundle.min.js"></script>
    <script src="/jsmember/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="/jsmember/bootstrap.min.js"></script>

    <script src="/jsmember/main-1.0.3.js"></script>

    <script src="/jsuser/common.js"></script>
    <script src="/jsuser/RecordRTC.js"></script>
    <script src="~/jsmember/Home-1.2.0.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>







