
@{
    ViewBag.Title = "درباره ما";
    Layout = "LayoutMain";
}

<header class="log-reg-header">
    <div class=" container-fluid d-flex justify-content-between align-items-center">
        <div class="menu-ham">
            <div onclick="openMenu_LOG()"><img src="~/imagemember/Component 1 – 10@2x.png" alt=""></div>
        </div>
        <div class="menu-logo">
            <div class=" logo">
                <!-- start cahnge11 -->
                <img src="~/imagemember/logo1.png" alt="">
                <!-- end cahnge11 -->

            </div>
            <div class=" menu">
                <ul>
                    <li class="active">
                        <a href="/Home/Index">صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="/Account/Register">ثبت دانش آموزان</a>
                    </li>
                    <li>
                        <a href="#">معرفی اساتید</a>
                    </li>
                    <li>
                        <a href="#">اخبار</a>
                    </li>


                    <li>
                        <a href="/Home/Gallery">گالری تصاویر</a>
                    </li>
                    <li>
                        <a href="/Home/About">درباره ما</a>
                    </li>
                    <li>
                        <a href="#mainfooter">تماس با ما</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="log-reg-sec1">
    <div class=" title">
        دربـــــاره مــــا
    </div>
</section>
<section class="section-us1">
    <div class="container">
        <div class="tl-hesabi">
            <h1>حسابی، حسابی فرق داره </h1>
        </div>
        <div class="row">
            <div class="col-12">
                <p>مجتمع آموزشی دکتر حسابی در سال 1379 توسط زندهی یاد حاج جواد حلاج مفرد و سرکار خانم فرح بوستانی که از پیشکسوتان آموزش و پرورش کاشان هستند در یک فضای بسیار مطلوب آموزشی با تاسیس مقطع دبیرستان کار خود را آغاز کرد.</p>
            </div>
            <div class="col-12 img">
                <div class="abaut-img">
                    <img src="~/imagemember/01hesabi.jpg" alt="">
                </div>
                <div class="abaut-img">
                    <img src="~/imagemember/02hesabi.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-us2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 ">
                <div class="abaut-img text-center">
                    <img src="~/imagemember/03hesabi.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <p>از همان ابتدا مورد توجه مردم فهیم کاشان قرار گرفت و توانست به موفقیت های چشم گیری دست پیدا کند و عنوان مدرسه برتر در استان اصفهان را به خود اختصاص دهد؛ سپس با یاری و توجه خداوند متعال در سال 1388 دبستان و پیش دبستانی دکتر حسابی تحت نظارت سرکار خانم دکتر فعال که دکترای فلسفه، تعلیم و تربیت اسلامی، کارشناس ارشد خلاقیت در صدا و سیما ، نویسنده کتب روش تدریس ابتدایی و نویسنده پیش دبستان هستند؛ فعاللیت خودش را در یک فضای بسیار عالی آموزشی آغاز کرد .</p>
            </div>
        </div>
    </div>
</section>

<section class="section-us3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    این مجموعه  توانست در طول مدت فعالیت خود شاهد موفقیت های چشمگیری در عرصه های مختلف آموزشی و پرورشی در سطح شهرستان باشد که نتیجه زحمات کادر آموزشی و اجرایی و پشتیبانی اولیا گرانقدر که سرمایه اصلی و مایه ی دلگرمی مجموعه است
                    می باشد
                </p>
                <p>
                    شعار و هدف این مجموعه آموزش صحیح بر پایه ی اصول علمی و روانشناسی یادگیری عمیق و ماندگار می باشد.
                    تکرار موفقیت ها اتفاقی نیست.
                </p>
            </div>
            <div class="col-12 img">
                <div class="abaut-img">
                    <img src="~/imagemember/04hesabi.jpg" alt="">
                </div>
                <div class="abaut-img">
                    <img src="~/imagemember/05hesabi.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>





