@{
    ViewBag.Title = "تماس با ما";
    Layout = "LayoutMain";
}
<section class="sectioncontact1">
    <div class="container">
        <div class="info">
            <div class="adress">
                <h2>آدرس</h2>
                <p>کاشان، فاز دو، خیابان مهستان، شمشاد پنجم، اولین فرعی سمت راست، پلاک 30</p>
            </div>
            <div class="telefon">
                <h2>شماره تماس</h2>
                <p>03155437786</p>
            </div>
            <div class="fax">
                <h2>فکس</h2>
                <p>03155437786</p>
            </div>
            <div class="email">
                <h2>پست الکترونیکی</h2>
                <p>info@ManaPardaz.com</p>
            </div>
            <div class="codeposti">
                <h2>کدپستی</h2>
                <p>8719351320</p>
            </div>
            <div>
                <p>مشاوره رایگان و ارائه خدمات پشتیبانی از ساعت 9:00 الی 20:00</p>
            </div>

        </div>
    </div>
</section>
<section class="sectioncontact2">
    <div class="request">
        <div class="container">
            <div>
                <h2>تماس با ما</h2>
                <p>برای ارتباط با واحد پشتیبانی با شماره09137424810تماس حاص فرمایید یا از فرم زیر استفاده نمایید</p>
            </div>
            <div>
                <form action="">
                    <div class="row">
                        <label class="  col-md-12" for="">نام ونام خانوادگی:</label>
                        <input class="inp  col-md-12" id="inp-name" type="text">
                    </div>
                    <div class="row">
                        <label class="  col-md-12" for=" ">شماره همراه:</label>
                        <input class="inp col-md-12" id="inp-num" type="text">
                    </div>
                    <div class="row">
                        <label class="  col-md-12" for=" ">توضیحات:</label>
                        <textarea class="txta col-md-12" name="" id="" cols="50" rows="4"></textarea>
                    </div>
                    <div class="  col-md-12 inp-sabt">
                        <input id="inp-sub" type="submit" value="ثبت درخواست">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>