.form {    
    display: block;
    margin: 15px auto;
    width: 80%;
    border: 1px solid #cfcfcf;    
    border-radius: 5px;
    padding: 5px 40px 15px 40px;    

}

.msgform {
    display: block;
    margin: 15px auto;
    width: 80%;    
    border-radius: 5px;
    padding: 20px;
}

.form .titr {
    display: block;
    font-weight: bold;      
}

.form .level {
    position: relative;
    display: block;
    margin: 5px auto;
    width: 100%;
    height: 45px;
    border: 1px solid #cfcfcf;    
    border-radius: 25px;
    text-align: right;
}

.form .level span {
    position: absolute;
    display: block;
    top: 0;
    right: 0;    
    height: 39px;
    border: 0;    
    border-radius: 25px;    
    color: #fff;
    text-align: center;
    font-size: 16pt;
    padding-top: 6px;
    transition: all .3s ease-in-out;
}

.form .colart {
    vertical-align: top;
    width: 49%;
    min-width: 300px;    
}

.form .picart {
    display: block;
    max-width: 500px;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .form .picart {
        display: none !important;
    }
}

.form .step {
    transition: all .3s ease-in-out;
}

.form .row {
    display: block;
    margin: 20px auto 5px auto;
    width: 100%;  
    text-align: right;      
}

@media only screen and (max-width: 1000px) {
    .form .row90 {
        width: 84%;
    }
}

@media only screen and (min-width: 1001px) {
    .form .row90 {
        width: 92%;
    }
}

.form .row input[type=text], .form .row input[type=password], .form .row textarea, .form .row select {
    display: block;        
    margin-top: 5px;    
    border: 1px solid #cfcfcf;    
    border-radius: 5px;
    padding: 5px;    
    text-align: right;
}

.form .row input[type=text], .form .row input[type=password] {
    width: 96%;
}

.form .row textarea {    
    width: 97%;
    height: 100px;    
}

.form .row select {
    width: 97%;
     -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url('/imagesite/icons/arrow_down.png') 5px 12px no-repeat;
}

.form .row input[type=text]:focus, .form .row input[type=password]:focus, .form .row textarea:focus, .form .row select:focus {    
    outline: none !important;           
}

.form .row .searchIRNational {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

.form .rowInline {
    display: inline-block !important;
    width: 45% !important;
    min-width: 320px;
}

.form .rowInline2 {
    display: inline-block !important;    
    width: 32% !important;
    min-width: 100px;
}

.form .rowbox {
    display: inline-block !important;  
    width: 45% !important;
    margin: 0px !important;
    min-width: 320px !important;             
}

@media only screen and (max-width: 1000px) {
    .form .rowbox .lbl {
        font-size: 10pt !important;
    }
}

.form .rowbox input[type=text] {
    width: 92% !important;
    margin-right: 0px !important;
}

.form .rowbox select {
    width: 90% !important;
    margin-right: 0px !important;
}

.form .picstudent {
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto;
}

.form .lblBelowText {
    margin: 10px auto;
}

.form .row .link {
    vertical-align: top;
    margin: 15px;    
    color: #000;    
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.form .row .link:hover {
    color: #8010D2;
     border-style: solid;
     border-width: 0px 0px 1px 0px;
}

.form .seperate {
    margin: 10px auto;
    width: 200px;
    height: 8px;
    background-color: #464646;
}

.form input[type=file] {
    -webkit-appearance:none;     
    position:absolute;
    top:0; 
    left:0;
    opacity:0; 
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form .buttonSingle {
    display: inline-block;
    margin: 40px 10px 10px 10px;
    width: 240px;
    height: 60px;
    border: 0;
    border-radius: 30px;    
    text-align: center;
    font-size: 18pt;
    color: #fff;    
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.form .buttonSingle:hover {
    box-shadow: rgba(0,0,0,0.3) 5px 5px;
}

.form .buttonSingle:focus {
    outline: none !important;
}

.form .buttonSingle2 {
    width: 85% !important;
    border-radius: 5px;
}

.form .divSingle {    
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;       
    border-radius: 10px;
    font-size: 16pt;
}

.errors {
    display: none;
    margin: 15px auto 5px auto;
    width: 100%;    
    border-radius: 10px;
    background-color: #EF3E46;
}

.errors img {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: 32px;
    height: 32px;
}

.errors p {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: calc(100% - 60px);   
    color: #fff;
}

.errors #focusable {
    display: none;
}
